@model sakila.model.actor
<p>
    <h3>Detalhes Do Ator</h3>
</p>
@{
ViewData["Title"]="Detalhes do Ator a ser apagado.";
}

<h3>Você está certo de que quer apagar este ator?</h3>
<div class="table table-bordered">
    <div class="col-md-4">
        <div class="form-group">
            <label class="font-weight-bold">Nome: </label>
            <p>@Model.first_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Sobrenome: </label>
            <p>@Model.last_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Última alteração:</label>
            <p>@Model.last_update</p>
        </div>
    </div>
    <form asp-controller="Actor" asp-action="DeleteActor" asp-route-id="@Model.actor_id" method="post">
        @Html.AntiForgeryToken()
        <table class="table">
            <thead>
                <th>
                    Título
                </th>
            </thead>
            <tbody>
                @foreach(var filmeator in Model.films_actors) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => filmeator.film.title)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            @* Para passar o parametro na tag abaixo o parametro do metodo deve ter o nome actor_id
            <input asp-for="actor_id" asp-route-id="actor_id" type="hidden" /> *@
            <input type="submit" value="Apagar Ator" class="btn btn-primary" />
            <a asp-action="Index" class="col-md-4">Voltar para a Lista</a>
        </div>
    </form>
    @* <div class="col-md-4">
        @Html.ActionLink("Voltar para a Lista", "Index")
    </div> *@
</div>