@model sakila.model.actor
<link rel="stylesheet" href="~/css/privateappcomponents.css" type="text/css"/>
<p>
    <h2>Detalhes Do Ator</h2>
</p>
<div class="table">
    <div class="col-md-4">
        <div class="form-group">
            <label class="font-weight-bold">Nome: </label> 
            <p>@Model.first_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Sobrenome: </label>
            <p>@Model.last_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Última alteração:</label>
            <p>@Model.last_update</p>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-striped thead-dark table-hover">
            <thead>
                <th>
                    Títulos dos Filmes
                </th>
            </thead>
            <tbody>
                @foreach(var filmeator in Model.films_actors) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => filmeator.film.title)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    @* <div class="col-md-4">
        @Html.ActionLink("Voltar para a Lista", "Index")
    </div> *@
    </div>
</div>
<a asp-action="Index" class="col-2 align-baseline">Voltar para a Lista</a>    