@model sakila.model.actor
<p>
    <h2>Detalhes Do Ator</h2>
</p>
<div class="table table-bordered">
    <div class="col-md-4">
        <div class="form-group">
            <label class="font-weight-bold">Nome: </label> 
            <p>@Model.first_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Sobrenome: </label>
            <p>@Model.last_name</p>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Última alteração:</label>
            <p>@Model.last_update</p>
        </div>
    </div>
        <table class="table">
            <thead>
                <th>
                    Título
                </th>
            </thead>
            <tbody>
                @foreach(var filmeator in Model.films_actors) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => filmeator.film.title)
                    </td>
                </tr>
                }
            </tbody>
        </table>    
    <div class="col-md-4">
        @Html.ActionLink("Voltar para a Lista", "Index")
    </div>
</div>