@model List<sakila.model.actor>

<h1>Index</h1>

    @if (@TempData["mensagem"] != null)
    {
        <h3> @TempData["mensagem"].ToString()</h3>
    }


<p>
    <a asp-action="CreateActor">Criar Novo Ator</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Última alteração
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.actor_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_update)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditActor", new { id=item.actor_id }) |
                    @Html.ActionLink("Details", "DetailsActor", new { id=item.actor_id}) |
                    @Html.ActionLink("Delete", "DeleteActor", new { id=item.actor_id })
                </td>
            </tr>
        }
    </tbody>
</table>
